body, html {
    font-family: 'Roboto', sans-serif;
    max-width: 480px;
    text-align: center;
    margin: 0.5rem;
}

h1, h2, h3, h4 {
    font-family: 'Shrikhand', cursive;
}
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey-bg: #f6f6f6;


//CONTAINER
//START Intro
.intro__description {
    padding: 0rem 2rem 0rem 2rem;
}
//END INTRO
//START EXPLANATION
.explanation__list__ol {
   list-style: none;
   counter-reset: item;
    margin-block: 0;
    padding-inline-start: 0.25rem;
 
    li {
        counter-increment: item;
        margin: 0.5rem;
        height: 75px;
        width: 90%;
        background-color: $grey-bg;
        font-weight: bold;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &::before {
            margin-left: -3rem;
            content: counter(item);
            color: white;
            width: 25px;
            height: 25px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
//END EXPLANATION

//START Explanation

.resto__cards__card {
    height: 250px;
    width: 90%;
    overflow: hidden;
    &__figure {
        height: 175px;
    }
}