
@import 'Utils/variables.scss';
@import 'Utils/mixins';
@import 'Layouts/tablet.scss';

body, html {
    font-family: 'Roboto', sans-serif;
    max-width: 480px;
    text-align: center;
    margin: 0rem;
}

h1 {
    font-family: 'Shrikhand', cursive;
}


//CONTAINER
//START Intro
.intro__description {
    padding: 0rem 2rem 0rem 2rem;
}
.intro__button {
    height: 50px;
    width: 50%;
    font-weight: bold;
    border-radius: 5rem;
    background: linear-gradient(to top, #{$primary} 0%, #{$secondary});
    color: #ffffff;
    border: transparent 1px solid;
}
//END INTRO
//START EXPLANATION
.explanation__list__ol {
   list-style: none;
   counter-reset: item;
    margin-block: 0;
    padding-inline-start: 0.25rem;
 
    li {
        counter-increment: item;
        margin: 0.5rem;
        height: 75px;
        width: 90%;
        background-color: $grey-bg1;
        font-weight: bold;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &::before {
            margin-left: -3rem;
            content: counter(item);
            color: white;
            width: 25px;
            height: 25px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:nth-child(3) {
            @include light-primary;
        }
    }
}
//END EXPLANATION

//START Explanation
.resto {
    margin: 0rem;
    .resto__cards {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
}
@media #{$tablets} {
    .resto__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start !important;
        &__card {
            width: 90%;
        }
    }
}
.resto__cards__card {
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.13);
    background-color: #ffffff;
    overflow: hidden;
    margin: 1rem;
    height: 250px;
    width: 335px;
    position: relative;
    &__figure {
        margin-block: 0rem;
        margin-inline: 0rem;
        max-height: 175px;
        width: 100%;
        border-radius: 2rem 2rem 0rem 0rem;
    }
    &__caption {
        border: #ffffff 5px solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 75px;
        background-color: #ffffff;
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            &__name {
                margin-block: 0rem;
            }
        }
    }
    .new {
        position: absolute;
        top: 0;
        right: 5%;
        padding: 7.5px;
        width: 24%;
        background-color: $tertiary;
        color: green;
        font-size: small;
        line-height: 10px;
        text-align: center;
    }
}

.footer {
    text-align: start;
    background-color: #353535;
    color: #ffffff;
    padding: 1rem;
    &__logo{
        filter: invert(100%);
    } 
    &__links {
        width: 80%;
        &--WIcons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p {
                margin: 1rem;
            }
        }
        &--WOIcons {
        a:link {
            text-decoration: none;
            color: #ffffff;
        }
        a:visited {
            text-decoration: none;
            color: #ffffff;
        }
        /*a:hover
        a:active*/

        }
    }

}
