/*
@media (min-width:481px) and (max-width:1024px) {
    body {
    width: 100%
    }
    .resto__cards {
        display: flex !important;
        flex-wrap: wrap;
        align-items: flex-start !important;
        &__card {
            width: 90%;
        }
    }
}*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  100% {
    opacity: 0.1;
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes heart-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ApparitionTransition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RotateRight {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  /*
  50%{
    transform: rotate(180deg);
  }*/
  100% {
    transform: rotate(360deg);
  }
}
/*body
    header
    container
        intro
        explanation
        resto
            resto__cards
                resto__cards__card
    footer    */
body, html {
  text-align: left;
}

/*HOMEPAGE*/
.intro {
  margin-left: 0rem;
  margin-bottom: 5rem;
  height: 250px;
  width: 100%;
}
.intro__location {
  text-align: center;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.intro__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.intro__desc__title {
  font-family: "Shrikhand", cursive;
  margin-block: 0rem;
  margin-top: 1rem;
}
.intro__desc__description {
  width: 50%;
  padding: 0.5rem 2rem 0.5rem 2rem;
  box-shadow: inset 0px 0px 15px 0px #c5c5c5;
  border-radius: 1rem;
  text-align: center;
}
.intro__desc__button {
  width: 30%;
  font-size: x-large;
}

.explanation__title, .resto__title {
  margin-left: 5rem;
}

.explanation__list__ol {
  margin-right: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
.explanation__list__ol li {
  width: 28%;
}

.resto {
  width: 100%;
}
.resto__cards {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: center;
  margin: 2rem;
  margin-left: 0rem;
  margin-top: 1rem;
}
.resto__cards__card {
  width: 260px;
  height: 210px;
}
.resto__cards__card__figure {
  height: 145px;
}
.resto__cards__card__caption {
  height: 50px;
  justify-content: space-between;
  padding-left: 0.6rem;
}
.resto__cards__card__caption__text {
  height: 90%;
  justify-content: space-between;
}

/*Menu Page*/
.hero {
  display: flex;
  justify-content: center;
}
.hero__figure {
  border-radius: 2rem;
  height: 500px !important;
  width: auto;
  border: 5px outset #e4d5f6;
}

.menu-header {
  justify-content: space-between !important;
  margin-left: 20%;
  margin-right: 20%;
}

.course-title {
  margin-top: 5rem;
  margin-left: 20%;
}

.menu__card {
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
}
.menu__card:hover {
  background-color: #f7f2fc;
}

.ordering {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.ordering__button {
  width: 20%;
}
.ordering__backward {
  display: block;
  width: 20%;
  background: none;
  background-color: #b3b3b3;
  color: black;
  font-size: large;
}

/*ALL PAGES*/
h1 {
  font-size: x-large;
}

header {
  margin: 2rem;
  margin-left: 3rem;
  width: 40%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
.footer__links--WIcons {
  width: 400px;
  justify-content: center;
}
.footer__links--WOIcons {
  width: 400px;
  justify-content: center;
}
.footer__links--WOIcons p, .footer__links--WOIcons a:link {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=bigscreen.css.map */
