@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(0, 30px, 0);
  }
  27% {
    transform: translate3d(0, 60px, 0);
  }
  50% {
    opacity: 0.8;
    transform: translate3d(0, 30px, 0);
  }
  75% {
    transform: translate3d(0, 60px, 0);
  }
  77% {
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes heart-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ApparitionTransition {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes RotateRight {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
  }
}
body, html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__inner {
  padding: 3rem;
  border-top: #9356DC solid 10px;
  border-left: #9356DC solid 9px;
  border-bottom: #FF79DA solid 10px;
  border-right: #FF79DA solid 9px;
  border-radius: 30%;
  animation: bounce 2.5s forwards;
}
.loader__inner > img {
  height: 100px;
  width: 100px;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  text-transform: uppercase;
}

h3 {
  margin: 0rem;
  font-size: 15px;
}

p {
  margin: 0rem;
  font-size: 14px;
}

.intro {
  margin: 1rem;
}
.intro__location {
  background-color: #f3f3f3;
}
.intro__desc {
  background-color: #fafafa;
}
.intro__desc__description {
  padding: 0rem 2rem 1rem 2rem;
}

.explanation__list__ol {
  list-style: none;
  counter-reset: item;
  margin-block: 0;
  padding-inline-start: 0.25rem;
}
.explanation__list__ol li {
  counter-increment: item;
  margin: 0.5rem;
  height: 75px;
  width: 80%;
  background-color: #f6f6f6;
  font-weight: bold;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
.explanation__list__ol li::before {
  margin-left: -2rem;
  content: counter(item);
  color: white;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explanation__list__ol li:hover {
  background-color: #e4d5f6;
  cursor: pointer;
  transition: 0.5s;
}

.resto {
  margin: 0rem;
}
.resto .resto__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resto__cards__card {
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  overflow: hidden;
  margin: 1rem;
  height: 250px;
  width: 80%;
  position: relative;
}
.resto__cards__card:hover {
  transition: 0.5s;
}
.resto__cards__card__figure {
  margin-block: 0rem;
  margin-inline: 0rem;
  height: 175px;
  width: 100%;
  border-radius: 2rem 2rem 0rem 0rem;
}
.resto__cards__card__caption {
  border: #ffffff 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}
.resto__cards__card__caption__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.resto__cards__card__caption__text__name {
  margin-block: 0rem;
}
.resto__cards__card .new {
  position: absolute;
  top: 0;
  right: 5%;
  padding: 7.5px;
  width: 24%;
  background-color: #99E2D0;
  color: green;
  font-size: small;
  line-height: 10px;
  text-align: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 1rem;
}

.First-Course, .Main-Course, .Dessert {
  margin: auto;
  text-align: left;
  margin: 0rem;
}

.course-title {
  margin-left: 1rem;
  text-align: left;
  border-bottom: #99E2D0 solid 3px;
  width: 60px;
}

.menu-container {
  border-radius: 50px 50px 0px 0px;
  margin-top: -3rem;
  background: #fff;
  padding-left: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__card:nth-child(1) {
  animation-delay: 0.25s;
}

.menu__card:nth-child(2) {
  animation-delay: 0.5s;
}

.menu__card:nth-child(3) {
  animation-delay: 0.75s;
}

.menu__card:nth-child(4) {
  animation-delay: 1s;
}

.menu__card {
  animation: ApparitionTransition 2s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  height: 50px;
  width: 85%;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px -1px #000000;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.menu__card__caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 1rem;
}
.menu__card__caption__text {
  height: 95%;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__caption__text__plate-name {
  margin: 0.5rem 0rem 0.5rem 0rem;
  margin-block: 0rem;
  max-width: max-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__caption__text__plate-description {
  margin: 0.5rem 0rem 0.5rem 0rem;
  margin-block: 0rem;
  max-width: max-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__confirmation {
  position: relative;
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  transition-duration: 0.5s;
}
.menu__card__confirmation__check-circle {
  position: absolute;
  top: 35%;
  left: 20%;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.menu__card:hover .menu__card__confirmation {
  margin-right: -1rem;
}
.menu__card:hover .check-circle {
  transition-duration: 0.5s;
  animation: 0.5s 0.1s RotateRight;
}

.check-circle {
  color: #99E2D0;
}

.ordering {
  padding: 0rem 2rem 0.5rem 2rem;
}
.ordering__button {
  font-size: large;
}
.ordering__backward {
  display: none;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

/*a:active*/
.button {
  height: 50px;
  width: 50%;
  font-weight: bold;
  border-radius: 5rem;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA);
  box-shadow: 0px 0px 10px 1px #8b8b8b;
  color: #ffffff;
  border: transparent 1px solid;
}
.button:hover {
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(to top, #985ede 0%, #ff8fdf);
  box-shadow: 0px 0px 12px 5px #8b8b8b;
}

.fave {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.fave:hover::before {
  opacity: 1;
}
.fave::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
}
.fave__filledheart {
  right: 0;
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  mix-blend-mode: lighten;
}
.fave__filledheart:hover {
  animation: heart-ani 0.3s forwards;
  background: linear-gradient(45deg, #9356DC, #FF79DA);
  opacity: 1;
}
.fave__heart {
  position: absolute;
  right: 0;
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  mix-blend-mode: lighten;
}
.fave__heart:hover {
  opacity: 0;
}

.footer {
  margin-top: auto;
  width: 100%;
  text-align: start;
  background-color: #353535;
  color: #ffffff;
  padding: 1rem;
}
.footer__logo {
  filter: invert(100%);
}
.footer__links {
  width: 80%;
}
.footer__links--WIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.footer__links--WIcons p {
  margin: 1rem;
}
.footer__links--WOIcons {
  /*a:active*/
}
.footer__links--WOIcons a:link {
  text-decoration: none;
  color: #ffffff;
}
.footer__links--WOIcons a:visited {
  text-decoration: none;
  color: #ffffff;
}
.footer__links--WOIcons a:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
